.blogList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-top: 10%;
}
  
.blogItem {
    width: 100%;
    max-width: 500px;
    background-color: #cc6a6a;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
    text-decoration: none; /* Remove underline from links */
}

.blogItem:hover {
    transform: translateY(-5px);
}

.blogTitle {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.blogDate {
    font-size: 14px;
    color: #252525;
}
  